@{
    HopAmNhacThanh.Models.CommonViewModels.CommonSingleViewModel single = ViewData["Single"] as HopAmNhacThanh.Models.CommonViewModels.CommonSingleViewModel;
    HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel sidebar = ViewData["Sidebar"] as HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel;
    ViewData["Title"] = "Thông tin tác giả " + single.Name + " | Hợp Âm Nhạc Thánh";
    ViewData["Desciption"] = single.Description;
}

<div class="row">
    @*<ul class="breadcrumb">
        <li><a asp-controller="album" asp-action="list">Album</a></li>
        <li class="active">@single.Name</li>
    </ul>*@
    <div id="single-template1" class="col-md-8" style="padding-right: 0px;">
        @await Html.PartialAsync("_CommonSinglePartial",single)
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("SidebarCommon",sidebar)
    </div>
</div>
@section Style {
    <link href="~/css/siteCommont.min.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/siteCommon.min.js" asp-append-version="true"></script>
}