<br /><br /><br /><br />

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" name="search" method="get" action="https://hopamviet.vn/chord/search.html">
                    <div class="input-group">
                        <input type="text" class="form-control" value="" name="song" placeholder="Nhập tên bài hát, tên ca sĩ / tên nhạc sĩ / lời" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i> Tìm</button>
                        </span>
                    </div>
                </form>
                <br />
                <div>
                    <a href="https://hopamviet.vn/chord/alphabet/a.html"><span class="label label-primary">A</span></a> <a href="https://hopamviet.vn/chord/alphabet/b.html"><span class="label label-primary">B</span></a> <a href="https://hopamviet.vn/chord/alphabet/c.html"><span class="label label-primary">C</span></a> <a href="https://hopamviet.vn/chord/alphabet/d.html"><span class="label label-primary">D</span></a> <a href="https://hopamviet.vn/chord/alphabet/e.html"><span class="label label-primary">E</span></a> <a href="https://hopamviet.vn/chord/alphabet/f.html"><span class="label label-primary">F</span></a> <a href="https://hopamviet.vn/chord/alphabet/g.html"><span class="label label-primary">G</span></a> <a href="https://hopamviet.vn/chord/alphabet/h.html"><span class="label label-primary">H</span></a> <a href="https://hopamviet.vn/chord/alphabet/i.html"><span class="label label-primary">I</span></a> <a href="https://hopamviet.vn/chord/alphabet/j.html"><span class="label label-primary">J</span></a> <a href="https://hopamviet.vn/chord/alphabet/k.html"><span class="label label-primary">K</span></a> <a href="https://hopamviet.vn/chord/alphabet/l.html"><span class="label label-primary">L</span></a> <a href="https://hopamviet.vn/chord/alphabet/m.html"><span class="label label-primary">M</span></a> <a href="https://hopamviet.vn/chord/alphabet/n.html"><span class="label label-primary">N</span></a> <a href="https://hopamviet.vn/chord/alphabet/o.html"><span class="label label-primary">O</span></a> <a href="https://hopamviet.vn/chord/alphabet/p.html"><span class="label label-primary">P</span></a> <a href="https://hopamviet.vn/chord/alphabet/q.html"><span class="label label-primary">Q</span></a> <a href="https://hopamviet.vn/chord/alphabet/r.html"><span class="label label-primary">R</span></a> <a href="https://hopamviet.vn/chord/alphabet/s.html"><span class="label label-primary">S</span></a> <a href="https://hopamviet.vn/chord/alphabet/t.html"><span class="label label-primary">T</span></a> <a href="https://hopamviet.vn/chord/alphabet/u.html"><span class="label label-primary">U</span></a> <a href="https://hopamviet.vn/chord/alphabet/v.html"><span class="label label-primary">V</span></a> <a href="https://hopamviet.vn/chord/alphabet/w.html"><span class="label label-primary">W</span></a> <a href="https://hopamviet.vn/chord/alphabet/x.html"><span class="label label-primary">X</span></a> <a href="https://hopamviet.vn/chord/alphabet/y.html"><span class="label label-primary">Y</span></a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="col-md-12">
                            <h4>
                                <i class="fa fa-music fa-fw"></i>
                                <a href="https://hopamviet.vn/chord/song/cuoi-kho/W8IUUAC7.html">
                                    Con cần Vha
                                </a>
                                <small>
                                    &nbsp;<i class="fa fa-user"></i> Sáng tác:
                                    <a href="https://hopamviet.vn/chord/composer/2260/bao-kun.html">Bảo Kun</a>
                                </small>
                            </h4>
                            <em>
                                Vòng hợp âm: <span class="chord">[C]</span> <span class="chord">[G]</span> <span class="chord">[Am]</span> <span class="chord">[F]</span>
                                1. Một <span class="chord">[C]</span> hôm trăng ở trên cao
                                Bóng mây la <span class="chord">[G]</span> đà chiếu soi mặt hồ
                                Trời <span class="chord">[Am]</span> thu giấc ngủ chiêm bao
                                Hoá thân chú <span class="chord">[F]</span> Cuội yêu thầm Hằng Nga.…
                            </em>
                            <br>
                            <small><span class="text-muted">Ca sĩ thể hiện: </span><em><a href="https://hopamviet.vn/chord/singer/Juun Đăng Dũng" class="csinger">Juun Đăng Dũng</a></em></small>
                            <div style="background:#eee; border:0; height: 1px; margin: 10px 0;"> </div>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <h3>Menu 3</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 style="font-size:larger">Lịch sử bài hát</h2>
                <hr />
                <div class="col-md-12">
                    <h4>
                        <i class="fa fa-music fa-fw"></i>
                        <a href="https://hopamviet.vn/chord/song/cuoi-kho/W8IUUAC7.html">
                            Con cần Cha
                        </a>
                        <small>
                            &nbsp;<i class="fa fa-user"></i> Sáng tác:
                            <a href="https://hopamviet.vn/chord/composer/2260/bao-kun.html">Bảo Kun</a>
                        </small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="ct-heading"><a href="https://hopamviet.vn/info/composers.html">DANH SÁCH TÁC GIẢ</a> <a href="https://hopamviet.vn/info/composers.html" class="pull-right"><em>Xem thêm <i class="fa fa-arrow-right"></i></em> </a></div>
                <hr />
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="album">
                            <a href="https://hopamviet.vn/info/composer/3297/johnny-dung.html" title="Johnny Dũng">
                                <img src="https://hopamviet.vn/assets/images/composers/duyengland4copyjpg.jpg" class="img-responsive">
                            </a>
                            <a href="https://hopamviet.vn/info/composer/3297/johnny-dung.html" title="Johnny Dũng" class="txt">Johnny Dũng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <style>
                .list-group-item {
                    /*border: 1px solid #337ab7;*/
                }
            </style>
            <div class="list-group">
                <a href="https://hopamviet.vn/chord/category/1/nhac-vang.html" class="list-group-item"><span class="badge">1698</span><i class="fa fa-book"></i> Nhạc Vàng</a>
                <a href="https://hopamviet.vn/chord/category/2/nhac-tru-tinh.html" class="list-group-item"><span class="badge">4453</span><i class="fa fa-book"></i> Nhạc Trữ tình</a>
                <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html" class="list-group-item"><span class="badge">5808</span><i class="fa fa-book"></i> Nhạc Trẻ</a>
                <a href="https://hopamviet.vn/chord/category/4/nhac-que-huong.html" class="list-group-item"><span class="badge">579</span><i class="fa fa-book"></i> Nhạc Quê hương</a>
                <a href="https://hopamviet.vn/chord/category/5/nhac-ngoai-loi-viet.html" class="list-group-item"><span class="badge">810</span><i class="fa fa-book"></i> Nhạc Ngoại lời Việt</a>
                <a href="https://hopamviet.vn/chord/category/6/nhac-do.html" class="list-group-item"><span class="badge">251</span><i class="fa fa-book"></i> Nhạc Đỏ</a>
                <a href="https://hopamviet.vn/chord/category/7/nhac-dan-ca.html" class="list-group-item"><span class="badge">44</span><i class="fa fa-book"></i> Nhạc Dân ca</a>
                <a href="https://hopamviet.vn/chord/category/8/nhac-quoc-te.html" class="list-group-item"><span class="badge">857</span><i class="fa fa-book"></i> Nhạc Quốc tế</a>
                <a href="https://hopamviet.vn/chord/category/9/nhac-hoc-tro.html" class="list-group-item"><span class="badge">132</span><i class="fa fa-book"></i> Nhạc Học trò</a>
                <a href="https://hopamviet.vn/chord/category/10/nhac-thieu-nhi.html" class="list-group-item"><span class="badge">183</span><i class="fa fa-book"></i> Nhạc Thiếu nhi</a>
                <a href="https://hopamviet.vn/chord/category/11/nhac-thanh-ca.html" class="list-group-item"><span class="badge">267</span><i class="fa fa-book"></i> Nhạc Thánh ca</a>
                <a href="https://hopamviet.vn/chord/category/12/nhac-phat-giao.html" class="list-group-item"><span class="badge">133</span><i class="fa fa-book"></i> Nhạc Phật giáo</a>
                <a href="https://hopamviet.vn/chord/category/13/nhac-che-vui.html" class="list-group-item"><span class="badge">66</span><i class="fa fa-book"></i> Nhạc Chế - Vui</a>
            </div>
        </div>
        <div id="hot-today" class="panel panel-default">

            <style>
                .hot-today-item:nth-child(1) .hot-today-views {
                    color: #ff5722;
                }
                .hot-today-item:nth-child(2) .hot-today-views {
                    color: #ff9800;
                }
                .hot-today-item:nth-child(3) .hot-today-views {
                    color: #FFC107;
                }
                .hot-today-item:nth-child(4) .hot-today-views {
                    color: #8bc34a;
                }
                .hot-today-item .hot-today-views {
                    vertical-align: middle;
                    position: relative;
                    width: 40px;
                    height: 30px;
                    display: inline-block;
                    text-align: center;
                    color: #cddc39;
                }
                .hot-today-item-song {
                    color:black;
                }
                .hot-today-item .hot-today-views .hot-today-view-count {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 40px;
                    font-size: 10px;
                }
                .hot-today-item .hot-today-item-song:hover {
                    text-decoration: underline;
                }

                .hot-today-item .hot-today-item-song {
                    font-weight: 600;
                }
                .hot-today-item .hot-today-item-singers a{
                    margin-left: 10px !important;
                    font-size: 13px !important;
                    color: #888 !important;
                }
            </style>
            <div class="panel-body">
                <h2 style="font-size:larger">Bài hát xem nhiều trong tuần</h2>
                <hr />
                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">3257</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/11185/chieu-hom-ay">
                        1.
                        Chiều Hôm Ấy
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/23465/jayk">
                            JayK
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">1728</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/8801/anh-nang-cua-anh">
                        2.
                        Ánh nắng của anh
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/21806/duc-phuc">
                            Đức Phúc
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">1388</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/510/nguoi-ta-noi">
                        3.
                        Người Ta Nói
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/63/ung-hoang-phuc">
                            Ưng Hoàng Phúc
                        </a>
                        ,
                        <a href="/artist/20730/minh-mon">
                            Minh Mon
                        </a>
                        ,
                        <a href="/artist/20308/truc-nhan">
                            Trúc Nhân
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">1367</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/12118/tuy-am">
                        4.
                        Tuý Âm
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/23752/xesi">
                            Xesi
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">1141</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/1528/ngay-mai-em-di">
                        5.
                        Ngày Mai Em Đi
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/24/le-hieu">
                            Lê Hiếu
                        </a>
                        ,
                        <a href="/artist/15235/touliver">
                            Touliver
                        </a>
                        ,
                        <a href="/artist/21504/soobin-hoang-son">
                            Soobin Hoàng Sơn
                        </a>
                        ,
                        <a href="/artist/24/le-hieu">
                            Lê Hiếu
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">961</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/1197/nguoi-tinh-mua-dong">
                        6.
                        Người Tình Mùa Đông
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/3273/nhu-quynh">
                            Như Quỳnh
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">806</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/8503/phia-sau-mot-co-gai">
                        7.
                        Phía Sau Một Cô Gái
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/21504/soobin-hoang-son">
                            Soobin Hoàng Sơn
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">725</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/11490/xin-dung-lang-im-">
                        8.
                        Xin Đừng Lặng Im
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/21504/soobin-hoang-son">
                            Soobin Hoàng Sơn
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">700</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/11423/dau-chi-rieng-em">
                        9.
                        Đâu chỉ riêng em
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/54/my-tam">
                            Mỹ Tâm
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">615</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/5600/mot-nha-">
                        10.
                        Một Nhà
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/21395/da-lab">
                            Da Lab
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">559</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/9221/noi-nay-co-anh">
                        11.
                        Nơi Này Có Anh
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/21205/son-tung-m-tp">
                            Sơn Tùng M-TP
                        </a>
                    </span>
                </div>

                <div class="hot-today-item">
                    <span class="hot-today-views">
                        <i class="fa fa-star"></i>
                        <span class="hot-today-view-count">507</span>
                    </span>
                    <a class="hot-today-item-song" href="/song/11844/em-gai-mua-">
                        12.
                        Em gái mưa
                    </a>
                    <span class="hot-today-item-singers">
                        <a href="/artist/2380/anh-khang">
                            Anh Khang
                        </a>
                        ,
                        <a href="/artist/20556/mr.-siro">
                            Mr. Siro
                        </a>
                        ,
                        <a href="/artist/20153/huong-tram">
                            Hương Tràm
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
