@{ 
    HopAmNhacThanh.Models.HomeViewModels.MainContentViewModel mainContent = ViewData["Main"] as HopAmNhacThanh.Models.HomeViewModels.MainContentViewModel;
    HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel sidebar = ViewData["Sidebar"] as HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel;
    ViewData["Title"] = "Tổng hợp Chord, Lyric, Sheet Nhạc Thánh | Hợp Âm Nhạc Thánh";
    ViewData["Desciption"] = "Tổng hợp sheet, chord (hợp âm), lyric (lời) bài hát Nhạc Thánh Tin Lành dành cho Cơ Đốc Nhân có hướng dẫn sử dụng hợp âm dành cho đàn ghitar, piano ukulele";
}
<div class="row">
    <div class="col-md-8"style="padding-right: 0px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#new">Mới nhất</a></li>
                    <li><a data-toggle="pill" href="#popular">Phổ biến</a></li>
                    <li><a data-toggle="pill" href="#request">Được yêu cầu</a></li>
                </ul>
                <hr />
                <div class="tab-content" style="margin-top:10px;">
                    <div id="new" class="tab-pane fade in active">
                        @*<div class="sort-new-song text-center">
                            <a class="" asp-controller="Home" asp-action="Alphabet" asp-route-slug="a"><span class="label label-primary">A</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="b"><span class="label label-primary">B</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="c"><span class="label label-primary">C</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="d"><span class="label label-primary">D</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="e"><span class="label label-primary">E</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="f"><span class="label label-primary">F</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="g"><span class="label label-primary">G</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="h"><span class="label label-primary">H</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="i"><span class="label label-primary">I</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="j"><span class="label label-primary">J</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="k"><span class="label label-primary">K</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="l"><span class="label label-primary">L</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="m"><span class="label label-primary">M</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="n"><span class="label label-primary">N</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="o"><span class="label label-primary">O</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="p"><span class="label label-primary">P</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="q"><span class="label label-primary">Q</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="r"><span class="label label-primary">R</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="s"><span class="label label-primary">S</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="t"><span class="label label-primary">T</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="u"><span class="label label-primary">U</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="v"><span class="label label-primary">V</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="w"><span class="label label-primary">W</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="x"><span class="label label-primary">X</span></a>
                            <a asp-controller="Home" asp-action="Alphabet" asp-route-slug="y"><span class="label label-primary">Y</span></a>
                        </div>*@
                        <div class="new-song-list">
                            @foreach (var item in mainContent.ListNewSong)
                            {
                                @Html.Partial("_SimpleSongPartial", item)
                            }
                        </div>
                            
                        @*<div class="col-md-12">
                            <a class="pull-right" asp-controller="" asp-action=""><em>Xem thêm <i class="fa fa-arrow-right"></i></em></a>
                        </div>*@
                    </div>
                    <div id="popular" class="tab-pane fade">
                        @foreach (var item in mainContent.ListPupularSong)
                        {
                            @Html.Partial("_SimpleSongPartial", item)
                        }
                    </div>
                    <div id="request" class="tab-pane fade">
                        @*<div class="col-md-12 text-center">
                            <a class="btn btn-success btn-sm" style="text-align:center" asp-controller="" asp-action=""><i class="fa fa-arrow-right"></i> Xem thêm</a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        @*<div class="panel panel-default">
            <div class="panel-body">
                <h2 class="text-primary" style="font-size:larger">Lịch sử bài hát</h2>
                <hr />
                <div class="col-md-12">
                    <h4>
                        <i class="fa fa-music fa-fw"></i>
                        <a asp-controller="HistorySong" asp-action="Single">
                            Linh âm giai điệu
                        </a>
                        <small>
                            &nbsp;<i class="fa fa-user"></i> Sáng tác:
                            <a href="https://hopamviet.vn/chord/composer/2260/bao-kun.html">Bảo Kun</a>
                        </small>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="ct-heading"><a href="https://hopamviet.vn/info/composers.html">DANH SÁCH TÁC GIẢ</a> <a href="https://hopamviet.vn/info/composers.html" class="pull-right"><em>Xem thêm <i class="fa fa-arrow-right"></i></em> </a></div>
                <hr />
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="album">
                            <a href="https://hopamviet.vn/info/composer/3297/johnny-dung.html" title="Johnny Dũng">
                                <img src="https://hopamviet.vn/assets/images/composers/duyengland4copyjpg.jpg" class="img-responsive">
                            </a>
                            <a href="https://hopamviet.vn/info/composer/3297/johnny-dung.html" title="Johnny Dũng" class="txt">Johnny Dũng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
   
    <div class="col-md-4">
        @await Html.PartialAsync("SidebarCommon", sidebar)
    </div>
</div>
@section Style {
<link href="~/css/siteCommont.min.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts {
<script src="~/js/siteCommon.min.js" asp-append-version="true"></script>
}