@{
    HopAmNhacThanh.Models.HomeViewModels.MainSearchViewModel mainContent = ViewData["Search"] as HopAmNhacThanh.Models.HomeViewModels.MainSearchViewModel;
}
<div class="row">
    <div class="col-md-8" style="padding-right: 0px;">
        @*<div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <a href="https://hopamviet.vn/chord/alphabet/a.html"><span class="label label-primary">A</span></a> <a href="https://hopamviet.vn/chord/alphabet/b.html"><span class="label label-primary">B</span></a> <a href="https://hopamviet.vn/chord/alphabet/c.html"><span class="label label-primary">C</span></a> <a href="https://hopamviet.vn/chord/alphabet/d.html"><span class="label label-primary">D</span></a> <a href="https://hopamviet.vn/chord/alphabet/e.html"><span class="label label-primary">E</span></a> <a href="https://hopamviet.vn/chord/alphabet/f.html"><span class="label label-primary">F</span></a> <a href="https://hopamviet.vn/chord/alphabet/g.html"><span class="label label-primary">G</span></a> <a href="https://hopamviet.vn/chord/alphabet/h.html"><span class="label label-primary">H</span></a> <a href="https://hopamviet.vn/chord/alphabet/i.html"><span class="label label-primary">I</span></a> <a href="https://hopamviet.vn/chord/alphabet/j.html"><span class="label label-primary">J</span></a> <a href="https://hopamviet.vn/chord/alphabet/k.html"><span class="label label-primary">K</span></a> <a href="https://hopamviet.vn/chord/alphabet/l.html"><span class="label label-primary">L</span></a> <a href="https://hopamviet.vn/chord/alphabet/m.html"><span class="label label-primary">M</span></a> <a href="https://hopamviet.vn/chord/alphabet/n.html"><span class="label label-primary">N</span></a> <a href="https://hopamviet.vn/chord/alphabet/o.html"><span class="label label-primary">O</span></a> <a href="https://hopamviet.vn/chord/alphabet/p.html"><span class="label label-primary">P</span></a> <a href="https://hopamviet.vn/chord/alphabet/q.html"><span class="label label-primary">Q</span></a> <a href="https://hopamviet.vn/chord/alphabet/r.html"><span class="label label-primary">R</span></a> <a href="https://hopamviet.vn/chord/alphabet/s.html"><span class="label label-primary">S</span></a> <a href="https://hopamviet.vn/chord/alphabet/t.html"><span class="label label-primary">T</span></a> <a href="https://hopamviet.vn/chord/alphabet/u.html"><span class="label label-primary">U</span></a> <a href="https://hopamviet.vn/chord/alphabet/v.html"><span class="label label-primary">V</span></a> <a href="https://hopamviet.vn/chord/alphabet/w.html"><span class="label label-primary">W</span></a> <a href="https://hopamviet.vn/chord/alphabet/x.html"><span class="label label-primary">X</span></a> <a href="https://hopamviet.vn/chord/alphabet/y.html"><span class="label label-primary">Y</span></a>
                    </div>
                </div>
            </div>*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Tìm kiếm với từ khóa: @mainContent.Search</h1>
            </div>
            <div class="panel-body">
                @if (mainContent.ListSong.Count() == 0)
                { 
                    <h3>Không tìm thấy, vui lòng thử từ khóa khác hoặc quay lại <a asp-controller="home" asp-action="index">trang chủ</a></h3>
                }
                @foreach (var item in mainContent.ListSong)
                {
                    @Html.Partial("_SimpleSongPartial", item)
                }
                @{ 
                    ViewData["search"] = mainContent.Search;
                }
                @Html.Partial("_PagePartial", mainContent)
            </div>
        </div>
    </div>

    <div class="col-md-4">
        @Html.Partial("SidebarCommon")
    </div>
</div>
@section Style {
    <style>
        .chord {
            color: blue;
        }
    </style>
    <style>
        small {
            margin-left: 5px;
        }

        .tab-pane {
            margin-bottom: 10px;
        }
    </style>


}
@section Scripts {
    <script defer>
        function bodyLoad() {


            chord = "(([A-G][b#]?)((7sus4|7sus2|sus4|sus2|dim|aug|add9|m7M|maj7|m9|m7|m6|m|7M|9|7|6|4|11|m11)?(\\s*[-/]?\\s*)))";
            openBracket = "[\\[\\(]";
            closeBracket = "[\\]\\)]";
            reOneChord = new RegExp(chord, "g");
            reChords = new RegExp(openBracket + "(" + chord + "+)" + closeBracket, "g");
            document.body.innerHTML = document.body.innerHTML.replace(reChords, "<span class=chord>$&</span>");
            $('.lyric br').replaceWith(' ');
        }
        $(function () {
            bodyLoad();
            //render_tab_chords();
        });
    </script>

}