<div class="panel panel-default">
    <div class="panel-body">

        <h5>
            <strong>Nghe bài hát</strong>
        </h5>
        <div id="fullsong" style="overflow: auto;">
            <p>
                <i class="fa fa-music"></i>
                <a href="https://hopamviet.vn/chord/singer/Bùi Anh Tuấn"><strong style="color: #000">Nguyễn Đình Thông</strong></a>
                    <span class="pull-right">
                @*<a href="https://hopamviet.vn/chord/download/W8IUABBO.html" title="Tải bài hát do ca sĩ Bùi Anh Tuấn thể hiện">
                    <i class="fa fa-download"></i>
                </a>*@ 
                <span class="label label-primary">C</span>
                    </span>

            </p>
            <p>
                <audio style="width: 100%" controls preload="none"><source src="http://data.chiasenhac.com/downloads/1828/6/1827610-ae88aca0/128/Chia%20Tay%20-%20Bui%20Anh%20Tuan[MP3 128kbps].mp3" type="audio/mpeg">Your browser does not support the audio element. </audio>
            </p>
        </div>
        @*<div id="moresong" style="cursor:pointer" onclick="show_fullsong();" align="right"></div>*@
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h5 style="margin-bottom: 20px;">
            <strong>Tính năng</strong>
        </h5>
        <a class="btn btn-default btn-sm"><i class="fa fa-fw fa-music"></i> Sheet nhac</a>
        <a class="btn btn-warning btn-sm"><i class="fa fa-fw fa-pencil"></i> Thêm phiên bản</a>
        <a class="btn btn-danger btn-sm"><i class="fa fa-fw fa-flag"></i> Báo lỗi</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: white">
        <h5 class="panel-title">
            <strong>Video liên quan</strong>
        </h5>
    </div>
    <div class="panel-body text-center">
        <iframe height="250px" src="https://www.youtube.com/embed/v3LCTg7cCZU"frameborder="0" allowfullscreen></iframe>
        <a href="">Hướng dẫn chơi Chạm lòng con Chúa ơi</a>
    </div>
</div>

<a class="btn btn-info btn-block" href="https://hopamviet.vn/chord/request.html" role="button">Nhấn vào đây để yêu cầu hợp âm bài hát</a><br />
<div class="panel panel-default">
    <div class="panel-body">
        <h5>
            <strong>Có thể bạn quan tâm</strong>
        </h5>
        <p> <a href="https://hopamviet.vn/chord/song/bat-tivi/W8IUW6C8.html"><i class="fa fa-music"></i> Tình yêu trong ý Chúa</a></p>
        <p> <a href="https://hopamviet.vn/chord/song/canh-hoa-tan/W8IUWEEW.html"><i class="fa fa-music"></i> Lửa phục hưng</a></p>
        <p> <a href="https://hopamviet.vn/chord/song/de-tron-doi-thuong-nho/W8IUW9BA.html"><i class="fa fa-music"></i> Hát như Đavít xưa</a></p>


    </div>
</div>