<br /><br /><br /><br />
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" name="search" method="get" action="https://hopamviet.vn/chord/search.html">
                    <div class="input-group">
                        <input type="text" class="form-control" value="" name="song" placeholder="Nhập tên bài hát, tên ca sĩ / tên nhạc sĩ / lời" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i> Tìm</button>
                        </span>
                    </div>
                </form>
                <br />
                <div>
                    <a href="https://hopamviet.vn/chord/alphabet/a.html"><span class="label label-default">A</span></a> <a href="https://hopamviet.vn/chord/alphabet/b.html"><span class="label label-default">B</span></a> <a href="https://hopamviet.vn/chord/alphabet/c.html"><span class="label label-default">C</span></a> <a href="https://hopamviet.vn/chord/alphabet/d.html"><span class="label label-default">D</span></a> <a href="https://hopamviet.vn/chord/alphabet/e.html"><span class="label label-default">E</span></a> <a href="https://hopamviet.vn/chord/alphabet/f.html"><span class="label label-default">F</span></a> <a href="https://hopamviet.vn/chord/alphabet/g.html"><span class="label label-default">G</span></a> <a href="https://hopamviet.vn/chord/alphabet/h.html"><span class="label label-default">H</span></a> <a href="https://hopamviet.vn/chord/alphabet/i.html"><span class="label label-default">I</span></a> <a href="https://hopamviet.vn/chord/alphabet/j.html"><span class="label label-default">J</span></a> <a href="https://hopamviet.vn/chord/alphabet/k.html"><span class="label label-default">K</span></a> <a href="https://hopamviet.vn/chord/alphabet/l.html"><span class="label label-default">L</span></a> <a href="https://hopamviet.vn/chord/alphabet/m.html"><span class="label label-default">M</span></a> <a href="https://hopamviet.vn/chord/alphabet/n.html"><span class="label label-default">N</span></a> <a href="https://hopamviet.vn/chord/alphabet/o.html"><span class="label label-default">O</span></a> <a href="https://hopamviet.vn/chord/alphabet/p.html"><span class="label label-default">P</span></a> <a href="https://hopamviet.vn/chord/alphabet/q.html"><span class="label label-default">Q</span></a> <a href="https://hopamviet.vn/chord/alphabet/r.html"><span class="label label-default">R</span></a> <a href="https://hopamviet.vn/chord/alphabet/s.html"><span class="label label-default">S</span></a> <a href="https://hopamviet.vn/chord/alphabet/t.html"><span class="label label-default">T</span></a> <a href="https://hopamviet.vn/chord/alphabet/u.html"><span class="label label-default">U</span></a> <a href="https://hopamviet.vn/chord/alphabet/v.html"><span class="label label-default">V</span></a> <a href="https://hopamviet.vn/chord/alphabet/w.html"><span class="label label-default">W</span></a> <a href="https://hopamviet.vn/chord/alphabet/x.html"><span class="label label-default">X</span></a> <a href="https://hopamviet.vn/chord/alphabet/y.html"><span class="label label-default">Y</span></a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <div class="row">
                        <h3 class="col-md-10">
                            Chạm lòng con Chúa ơi
                            <small>
                            </small>
                        </h3>
                        <div class="col-md-2">
                            <h3 class="dropdown pull-right">
                                <button class="btn btn-success btn-sm"  type="button" data-toggle="modal" data-target="#versionModel">Phiên bản</button>
                            </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9" style="vertical-align: middle; padding-top: 5px; line-height: 1.5;
    border-radius: 3px">
                            <i title="Sáng tác" class="fa fa-leaf"></i> Sáng tác: <a href="https://hopamviet.vn/chord/composer/1984/kien-tran.html">Chưa rõ</a> |
                            <i class="fa fa-book"></i> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html">Nhạc Thánh</a> |
                            Điệu:
                            Chưa chọn |
                            <i title="Người đăng" class="fa fa-user"></i> <a href="https://hopamviet.vn/user/1/intrepid">Billy</a> |
                            <i title="Lượt xem" class="fa fa-eye"></i> 25
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                    </div>
                </div>
                <style>
                    .transpose-keys a {
                        color: #333;
                        background-color: #fff;
                        border-color: #ccc;
                    }
                    #lyric, #form-lyric, #intro {
                        margin-top: 20px;
                    }
                    #intro {
                        border: 1px dashed #969696;
                        background-color: #fffce0;
                        padding: 10px 10px;
                        display: inline-block;
                    }
                </style>
                <div id="form-lyric">
                    <div class="btn-group">
                        <div id="musicalKey" style="margin-right: 5px;" class="annotation btn-group"><span class="key btn btn-default btn-sm">G</span></div>
                        <div class="btn-group">
                            <span id="fontsize" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-font fa-1x"></i></span>
                            <a href="https://hopamviet.vn/chord/printsong/chia-tay/W8IUUAC8.html" target="_blank" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-print"></i></a>
                            <span id="clone" class="btn btn-default btn-sm">x2</span>

                        </div>
                    </div>
                    <br />
                    <div id="intro">
                        Tone Xesi Cm; Capo 3 chơi <span class="chord">[Am]</span> <br />
                        hợp âm chia ở tone <span class="chord">[Am]</span> <br />
                        Intro: <span class="chord">[C]</span> <span class="chord">[F]</span> <span class="chord">[G]</span> <span class="chord">[C]</span>
                    </div>
                    <div id="lyric">
                        1. Chạm lòng <span class="chord">[C]</span> con Chúa ơi, ngay giờ <span class="chord">[Dm]</span> này<br>
                        Chạm lòng <span class="chord">[F]</span> con để <span class="chord">[E7]</span> con không xa <span class="chord">[Am]</span> Ngài<br>
                        Chạm lòng <span class="chord">[G]</span> con Chúa <span class="chord">[A7]</span> ơi, ngay giờ <span class="chord">[Dm]</span> này<br>
                        Chạm lòng <span class="chord">[F]</span> con để <span class="chord">[G7]</span> con say mê <span class="chord">[C]</span> Ngài. <br>
                        <br>
                        Vực con vươn <span class="chord">[C]</span> lên khỏi chốn tối tăm tuyệt <span class="chord">[G]</span> vọng <br>
                        Vực con vươn <span class="chord">[Am]</span> lên khỏi <span class="chord">[D]</span> nghi sợ và sầu <span class="chord">[G]</span> não <span class="chord">[C]</span> <br>
                        Thì con sẽ <span class="chord">[F]</span> hát chúc tán ngợi khen danh <span class="chord">[G]</span> Chúa <span class="chord">[A7]</span> <br>
                        Xin thần linh <span class="chord">[Dm]</span> đến chạm <span class="chord">[G7]</span> vào con ngay Chúa <span class="chord">[C]</span> ơi. <br>
                        <br>
                        2. Chạm lòng <span class="chord">[C]</span> con Chúa ơi, ngay giờ <span class="chord">[Dm]</span> này<br>
                        Chạm lòng <span class="chord">[F]</span> con để <span class="chord">[E7]</span> con luôn tin <span class="chord">[Am]</span> Ngài<br>
                        Chạm lòng <span class="chord">[G]</span> con Chúa <span class="chord">[A7]</span> ơi, ngay giờ <span class="chord">[Dm]</span> này<br>
                        Chạm lòng <span class="chord">[F]</span> con để <span class="chord">[G7]</span> con luôn yêu <span class="chord">[C]</span> Ngài. <span class="chord">[G]</span><br>
                        <br>
                        Vực con vươn <span class="chord">[C]</span> lên khỏi chốn tối tăm tuyệt <span class="chord">[G]</span> vọng<br>
                        Vực con vươn <span class="chord">[Am]</span> lên khỏi <span class="chord">[D]</span> nghi sợ và sầu <span class="chord">[G]</span> não <span class="chord">[C]</span><br>
                        Thì con sẽ <span class="chord">[F]</span> hát chúc tán ngợi khen danh <span class="chord">[G]</span> Chúa <span class="chord">[A7]</span><br>
                        Xin thần linh <span class="chord">[Dm]</span> đến chạm <span class="chord">[G7]</span> vào con ngay Chúa <span class="chord">[C]</span> ơi. <br><br>
                    </div>
                    <div id="draw-chords"></div>
                    
                    <style>
                        #draw-chords {
                            background: #ffffff;
                            display: none;
                            border-radius: 10px;
                            background: #fff;
                            box-shadow: 0 1px 2px rgba(0,0,0,.3);
                            text-align: center;
                            transform: translate3d(0,0,0);
                            user-select: none;
                            outline-style: none;
                        }
                    </style>
                    
                </div>
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hướng dẫn sử dụng hợp âm</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#guitar"><i class="fa fa-book"> Guitar </i></a></li>
                                <li><a data-toggle="tab" href="#ukulele"> Ukulele</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="guitar" class="tab-pane fade in active">
                                    <div id="mytab"></div>
                                   
                                </div>
                                <div id="ukulele" class="tab-pane fade">
                                    <p>Sẽ cập nhật sau </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="fb-comments" data-width="100%" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("SidebarSingle")
    </div>
</div>
@Html.Partial("ModelSingle")

<div id="fb-root"></div>

@section Style {
<link href="~/lib/ChordPro/css/chopro.css" rel="stylesheet" />
}
@section ScriptsHead {
<script src="~/lib/ChordPro/js/elb.js"></script>
@*<script src="~/lib/ChordPro/js/jquery-1.6.2.min.js"></script>*@
<script src="~/lib/ChordPro/js/Transposer.js"></script>
<script>
        jQuery(document).ready(function () {
            var ourKeyElement, ourTransposer;
            ourKeyElement = jQuery("#musicalKey");
            ourTransposer = ELB.Music.aTransposer(ourKeyElement);

        });
</script>
}

@section Scripts {
<script defer>
        $('.chord').mouseover(function () {
            //("#userblock").show();
            var txtChords = $(this).text();
            txtChords = txtChords.replace('[', '');
            txtChords = txtChords.replace(']', '');
            txtChords = txtChords.replace('♭', 'b');
            txtChords = txtChords.replace('♯', '#');
            $("#draw-chords").empty();
            $("#draw-chords").append('<span class="col-md-3 col-xs-6 jtab chordonly left">' + txtChords + '</span>');
            var showChords = $("#draw-chords");
            var currentChords = $(this);
            setTimeout(function () {
                var positionChords = currentChords.offset();
                showChords.css({
                    position: "absolute",
                    top: positionChords.top - 200 + "px",
                    left: positionChords.left - 70 + "px",

                }).show();

                jtab.renderimplicit();
            }, 300);

        }).mouseleave(function () {
            setTimeout(function () {
                $("#draw-chords").hide();
            }, 300);
        });
</script>
<script defer>
         //Change Chords
         function changeChords() {
             var chords = [];
             $('span.chord').each(function () {
                 var txtChords = $(this).text()
                 txtChords = txtChords.replace('[', '');
                 txtChords = txtChords.replace(']', '');
                 txtChords = txtChords.replace('♭', 'b');
                 txtChords = txtChords.replace('♯', '#');
                 chords.push(txtChords);
             });

             //unique string
             var unique = chords.filter(function (itm, i, chords) {
                 return i == chords.indexOf(itm);
             });
             var formatText = unique.toString();


             //var repaceText = formatText.split(",").join(" ");
             //var length = repaceText.length;
             //var rowChords = Math.floor(length / 4);
             //alert(rowChords);

             //function myFunction(item, index) {
             //    //demoP.innerHTML = demoP.innerHTML + "index[" + index + "]: " + item + "<br>";
             //    $("#mytab").append('<div class="col-md-3">dfaadfads</div>');

             //    jtab.render($('#mytab'), item);
             //    alert(item);

             //}
             //alert(unique);
             //unique.forEach(myFunction);
             $("#mytab").empty();
             for (var i = 0; i < unique.length; i++) {
                 $("#mytab").append('<span class="col-md-3 col-xs-6 jtab chordonly left">' + unique[i] + '</span>');
             }
             $("#mytab").append('<div class="clear"><div class="row"><span></span></div></div>');
             jtab.renderimplicit();

             //jtab.render($('#mytab'), repaceText);
         }

         $(document).ready(function () {
             changeChords();
             $(".tbutton").click(function () {
                 //var $this = $(this);
                 //if ($this.data('clicked')) {
                 //}
                 //else {
                 //    $this.data('clicked', true);
                 changeChords();
                 //}
             });
         });
</script>
<script>
         $(document).ready(function () {
             $('#lyric').bind("cut copy paste", function (e) {
                 /* alert('Copy Paste is disabled');*/
                 e.preventDefault();
             });
         });
</script>
<script>
    ////tu dong truot
    //var scrollValue = 1;
    //var scrolldelay;

    //function stopScroll() {
    //    clearTimeout(scrolldelay);
    //}

    //function startScroll() {
    //    window.scrollBy(0, 1);
    //    if ($(window).scrollTop() > ($('#lyric').offset().top + $('#lyric').height() - $(window).height() / 4)) {
    //        stopScroll();
    //    } else {
    //        scrolldelay = setTimeout('startScroll()', 200 / scrollValue);
    //    }
    //}

    ////xo ca si the hien
    //var song_expand = '<p>Xem thêm các ca sĩ khác <i class="fa fa-chevron-down"></i></p>';
    //var song_collapse = '<p>Thu gọn <i class="fa fa-chevron-up"></i></p>';
    //function show_fullsong() {
    //    if (document.getElementById('moresong').innerHTML == song_expand) {
    //        document.getElementById('fullsong').setAttribute('style', "overflow: auto;");
    //        document.getElementById('moresong').innerHTML = song_collapse;
    //    }
    //    else if (document.getElementById('fullsong').offsetHeight > 350) {
    //        document.getElementById('fullsong').setAttribute('style', "max-height: 290px; overflow: hidden;");
    //        document.getElementById('moresong').innerHTML = song_expand;
    //    }
    //}
    //show_fullsong();


</script>


}