<br /><br /><br /><br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form role="form" name="search" method="get" action="https://hopamviet.vn/chord/search.html">
                    <div class="input-group">
                        <input type="text" class="form-control" value="" name="song" placeholder="Nhập tên bài hát, tên ca sĩ / tên nhạc sĩ / lời" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i> Tìm</button>
                        </span>
                    </div>
                </form>
                <br />
                <div>
                    <a href="https://hopamviet.vn/chord/alphabet/a.html"><span class="label label-primary">A</span></a> <a href="https://hopamviet.vn/chord/alphabet/b.html"><span class="label label-primary">B</span></a> <a href="https://hopamviet.vn/chord/alphabet/c.html"><span class="label label-primary">C</span></a> <a href="https://hopamviet.vn/chord/alphabet/d.html"><span class="label label-primary">D</span></a> <a href="https://hopamviet.vn/chord/alphabet/e.html"><span class="label label-primary">E</span></a> <a href="https://hopamviet.vn/chord/alphabet/f.html"><span class="label label-primary">F</span></a> <a href="https://hopamviet.vn/chord/alphabet/g.html"><span class="label label-primary">G</span></a> <a href="https://hopamviet.vn/chord/alphabet/h.html"><span class="label label-primary">H</span></a> <a href="https://hopamviet.vn/chord/alphabet/i.html"><span class="label label-primary">I</span></a> <a href="https://hopamviet.vn/chord/alphabet/j.html"><span class="label label-primary">J</span></a> <a href="https://hopamviet.vn/chord/alphabet/k.html"><span class="label label-primary">K</span></a> <a href="https://hopamviet.vn/chord/alphabet/l.html"><span class="label label-primary">L</span></a> <a href="https://hopamviet.vn/chord/alphabet/m.html"><span class="label label-primary">M</span></a> <a href="https://hopamviet.vn/chord/alphabet/n.html"><span class="label label-primary">N</span></a> <a href="https://hopamviet.vn/chord/alphabet/o.html"><span class="label label-primary">O</span></a> <a href="https://hopamviet.vn/chord/alphabet/p.html"><span class="label label-primary">P</span></a> <a href="https://hopamviet.vn/chord/alphabet/q.html"><span class="label label-primary">Q</span></a> <a href="https://hopamviet.vn/chord/alphabet/r.html"><span class="label label-primary">R</span></a> <a href="https://hopamviet.vn/chord/alphabet/s.html"><span class="label label-primary">S</span></a> <a href="https://hopamviet.vn/chord/alphabet/t.html"><span class="label label-primary">T</span></a> <a href="https://hopamviet.vn/chord/alphabet/u.html"><span class="label label-primary">U</span></a> <a href="https://hopamviet.vn/chord/alphabet/v.html"><span class="label label-primary">V</span></a> <a href="https://hopamviet.vn/chord/alphabet/w.html"><span class="label label-primary">W</span></a> <a href="https://hopamviet.vn/chord/alphabet/x.html"><span class="label label-primary">X</span></a> <a href="https://hopamviet.vn/chord/alphabet/y.html"><span class="label label-primary">Y</span></a>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="ibar" id="15303">
                    <h3>
                        Chạm lòng con Chúa ơi
                        <small>
                        </small>
                    </h3>
                    <i title="Sáng tác" class="fa fa-leaf"></i> Sáng tác: <a href="https://hopamviet.vn/chord/composer/1984/kien-tran.html">Chưa rõ</a> |
                    <i class="fa fa-book"></i> <a href="https://hopamviet.vn/chord/category/3/nhac-tre.html">Nhạc Thánh</a> |
                    Điệu:
                    Chưa chọn |
                    <i title="Người đăng" class="fa fa-user"></i> <a href="https://hopamviet.vn/user/1/intrepid">Billy</a> |
                    <i title="Lượt xem" class="fa fa-eye"></i> 25
                    <div class="btn-group pull-right">
                        <span id="fontsize" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-font fa-1x"></i></span>

                        <a href="https://hopamviet.vn/chord/printsong/chia-tay/W8IUUAC8.html" target="_blank" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"><i class="fa fa-print"></i></a>
                        <span id="clone" class="btn btn-default btn-sm">x2</span>
                    </div>
                </div>
                <br />
                <style>
                    .transpose-keys a {
                        color: #333;
                        background-color: #fff;
                        border-color: #ccc;
                    }
                </style>
                <div id="lyric">
                    <pre height="30px" class="lyric" data-key="C" style="background-color: #ffffff; font-size:larger">
          C                    Dm               F                 C
Chạm lòng con chúa ơi ngay giờ này. Chạm lòng con để con không xa Ngài.  Chạm lòng con để con không xa Ngài. 
          C                    Dm               F                 C
Chạm lòng con chúa ơi ngay giờ này. Chạm lòng con để con không xa Ngài.
          C                    Dm               F                 C
Chạm lòng con chúa ơi ngay giờ này. Chạm lòng con để con không xa Ngài.
          C                    Dm               F                 C
Chạm lòng con chúa ơi ngay giờ này. Chạm lòng con để con không xa Ngài.
          C                    Dm               F                 C
Chạm lòng con chúa ơi ngay giờ này. Chạm lòng con để con không xa Ngài.
          C                    Dm               F                 C
Chạm lòng con chúa ơi ngay giờ này. Chạm lòng con để con không xa Ngài.
                        </pre>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $("pre").transpose();
                    });
                </script>

                <br />
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hướng dẫn sử dụng hợp âm</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#guitar"><i class="fa fa-book"> Guitar </i></a></li>
                                <li><a data-toggle="tab" href="#ukulele"> Ukulele</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="guitar" class="tab-pane fade in active">
                                    <div id="mytab"></div>
                                    <script defer>
                                    //Change Chords
                                    function changeChords() {
                                        var chords = [];
                                        $('span.c').each(function () {

                                            chords.push($(this).text());
                                        });

                                        //unique string
                                        var unique = chords.filter(function (itm, i, chords) {
                                            return i == chords.indexOf(itm);
                                        });
                                        var formatText = unique.toString();


                                        //var repaceText = formatText.split(",").join(" ");
                                        //var length = repaceText.length;
                                        //var rowChords = Math.floor(length / 4);
                                        //alert(rowChords);

                                        //function myFunction(item, index) {
                                        //    //demoP.innerHTML = demoP.innerHTML + "index[" + index + "]: " + item + "<br>";
                                        //    $("#mytab").append('<div class="col-md-3">dfaadfads</div>');

                                        //    jtab.render($('#mytab'), item);
                                        //    alert(item);

                                        //}
                                        //alert(unique);
                                        //unique.forEach(myFunction);
                                        $("#mytab").empty();
                                        for (var i = 0; i < unique.length; i++) {
                                            $("#mytab").append('<span class="col-md-3 col-xs-6 jtab chordonly left">' + unique[i] + '</span>');
                                        }
                                        $("#mytab").append('<div class="clear"><div class="row"><span></span></div></div>');
                                        jtab.renderimplicit();

                                        //jtab.render($('#mytab'), repaceText);
                                    }

                                    $(document).ready(function () {
                                        changeChords();
                                        $("a").click(function () {
                                            var $this = $(this);
                                            if ($this.data('clicked')) {
                                            }
                                            else {
                                                $this.data('clicked', true);
                                                changeChords();
                                            }
                                        });
                                    });
                                    </script>
                                    <i class="fa fa-book"> Guitar </i><input class="form-control" id="user_notation">
                                    <div id="tab" class="col-md-12"><i></i></div>
                                    <script type='text/javascript'>
                                        $('#user_notation').keyup(function (e) {
                                            jtab.render($('#tab'), $(this).val());
                                        });
                                    </script>
                                </div>
                                <div id="ukulele" class="tab-pane fade">
                                    <p>Sẽ cập nhật sau </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="fb-comments" data-width="100%" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">

                <h5>
                    <strong>Nghe bài hát</strong>
                </h5>
                <div id="fullsong" style="overflow: auto;">
                    <p>
                        <i class="fa fa-music"></i>
                        <a href="https://hopamviet.vn/chord/singer/Bùi Anh Tuấn"><strong style="color: #000">Nguyễn Đình Thông</strong></a>
                        <span class="pull-right"><a href="https://hopamviet.vn/chord/download/W8IUABBO.html" title="Tải bài hát do ca sĩ Bùi Anh Tuấn thể hiện"><i class="fa fa-download"></i></a> <span class="label label-primary">C</span></span>
                    </p>
                    <p>
                        <audio controls preload="none"><source src="http://data.chiasenhac.com/downloads/1828/6/1827610-ae88aca0/128/Chia%20Tay%20-%20Bui%20Anh%20Tuan[MP3 128kbps].mp3" type="audio/mpeg">Your browser does not support the audio element. </audio>
                    </p>
                </div>
                <div id="moresong" style="cursor:pointer" onclick="show_fullsong();" align="right"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>Sheet music</strong>
                </h5>
            </div>
            <div class=" text-center">
                <p><label>Chưa có sheet, sẽ cập nhật sau</label></p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: white">
                <h5 class="panel-title">
                    <strong>Video</strong>
                </h5>
            </div>
            <div class="panel-body text-center">
                <iframe height="250px" src="https://www.youtube.com/embed/xL1V-85I_fM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <a class="btn btn-info btn-block" href="https://hopamviet.vn/chord/request.html" role="button">Nhấn vào đây để yêu cầu hợp âm bài hát</a><br />
        <div class="panel panel-primary">
            <div class="panel-body">
                <h5>
                    <strong>Có thể bạn quan tâm</strong>
                </h5>
                <p> <a href="https://hopamviet.vn/chord/song/bat-tivi/W8IUW6C8.html"><i class="fa fa-music"></i> Tình yêu trong ý Chúa</a></p>
                <p> <a href="https://hopamviet.vn/chord/song/canh-hoa-tan/W8IUWEEW.html"><i class="fa fa-music"></i> Lửa phục hưng</a></p>
                <p> <a href="https://hopamviet.vn/chord/song/de-tron-doi-thuong-nho/W8IUW9BA.html"><i class="fa fa-music"></i> Hát như Đavít xưa</a></p>


            </div>
        </div>
    </div>
</div>

<div id="musicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="https://hopamviet.vn/chord/insert_song" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Thêm bài hát mới</h4>
                </div>
                <div class="modal-body">
                    Bạn chưa đăng nhập hoặc bài hát này không phải bạn đăng.
                </div>
            </div>
        </div>
    </form>
</div>


<div id="sheetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="https://hopamviet.vn/chord/insert_sheet" enctype="multipart/form-data" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Thêm sheet nhạc</h4>
                </div>
                <div class="modal-body">
                    Bạn chưa đăng nhập hoặc bài hát này không phải của bạn đăng.
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#lyric').bind("cut copy paste", function (e) {
            /* alert('Copy Paste is disabled');*/
            e.preventDefault();
        });
    });
</script>
<script>
    //tu dong truot
    var scrollValue = 1;
    var scrolldelay;

    function stopScroll() {
        clearTimeout(scrolldelay);
    }

    function startScroll() {
        window.scrollBy(0, 1);
        if ($(window).scrollTop() > ($('#lyric').offset().top + $('#lyric').height() - $(window).height() / 4)) {
            stopScroll();
        } else {
            scrolldelay = setTimeout('startScroll()', 200 / scrollValue);
        }
    }

    //xo ca si the hien
    var song_expand = '<p>Xem thêm các ca sĩ khác <i class="fa fa-chevron-down"></i></p>';
    var song_collapse = '<p>Thu gọn <i class="fa fa-chevron-up"></i></p>';
    function show_fullsong() {
        if (document.getElementById('moresong').innerHTML == song_expand) {
            document.getElementById('fullsong').setAttribute('style', "overflow: auto;");
            document.getElementById('moresong').innerHTML = song_collapse;
        }
        else if (document.getElementById('fullsong').offsetHeight > 350) {
            document.getElementById('fullsong').setAttribute('style', "max-height: 290px; overflow: hidden;");
            document.getElementById('moresong').innerHTML = song_expand;
        }
    }
    show_fullsong();


</script>
<div class="right_support_online">
    <div class="contact_nct hover">
        <a data-toggle="modal" data-target="#contact" data-original-title>&nbsp;</a>
    </div>
    <div class="clear"></div>
</div>
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Liên hệ với chúng tôi</h4>
            </div>
            <form action="https://hopamviet.vn/chord/contact" method="post" accept-charset="utf-8">
                <div class="modal-body" style="padding: 5px;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                            <input class="form-control" name="name" placeholder="Tên bạn" type="text" required autofocus />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                            <input class="form-control" name="email" placeholder="E-mail" type="text" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
<textarea style="resize:vertical;" class="form-control" placeholder="Nội dung" rows="6" name="comment" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 15px;">
                            <div class="g-recaptcha" data-sitekey="6LdHDCQTAAAAABP5wmHHSVYvaKNb3CCwLWv_DFSG"></div>
                            <script src="https://www.google.com/recaptcha/api.js?hl=vn" async defer></script>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="margin-bottom:-14px;">
                    <input type="hidden" name="url" value="https://hopamviet.vn/chord/song/chia-tay/W8IUUAC8.html" />
                    <input type="submit" class="btn btn-success" value="Gửi" />
                    <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://hopamviet.vn/assets/js/comment.js"></script>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=1936754129675486";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script>

</script>
