@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0061)http://blossomassociates.net/Music/Songbook/YouGottaMove.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>You Gotta Move</title>
    <link href="~/lib/ChordPro/css/chopro.css" rel="stylesheet" />
    <link rel="icon" href="http://blossomassociates.net/favicon.ico">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/lib/ChordPro/js/elb.js"></script>
    @*<script src="~/lib/ChordPro/js/jquery-1.6.2.min.js"></script>*@
    <script src="~/lib/ChordPro/js/Transposer.js"></script>
    <script>
        jQuery(document).ready(function () {
            var ourKeyElement, ourTransposer;
            ourKeyElement = jQuery("#musicalKey");
            ourTransposer = ELB.Music.aTransposer(ourKeyElement);

        });
    </script>
    <link href="~/lib/jtab-tardate/css/jtab-helper.css" rel="stylesheet" />
    <!-- mandatory script includes for jtab -->
    @*<script src="~/lib/jtab-tardate/javascripts/jquery.js"></script>*@
    <script src="~/lib/jtab-tardate/javascripts/raphael.js"></script>
    <script src="~/lib/jtab-tardate/javascripts/jtab.js"></script>

</head>
<body style="background-color: black">
    <div class="container">
        <h1 class="title">You Gotta Move</h1>
        <h2 class="subtitle">Mississippi Fred McDowell</h2>
        <div class="col-md-9">
            <p id="musicalKey" class="annotation">in <span class="key">G</span></p>


            <p class="lyric">
                You got to <span class="chord">G</span>move,
                <br>You got to <span class="chord">G</span>move,
                <br>You've got to move, <span class="chord">C</span>child,
                <br>You've got to <span class="chord">G</span>move,
                <br>But when the Lord gets <span class="chord">D</span>ready,
                <br>You got to <span class="chord">G</span>move.
            </p>
            <div id="draw-chords"></div>
            <style>
                #draw-chords {
                    background: #ffffff;
                    display: none;
                }
            </style>
            <script>
                $('.chord').mouseover(function () {
                    //("#userblock").show();
                    var txtChords = $(this).text();
                    txtChords = txtChords.replace('[', '');
                    txtChords = txtChords.replace(']', '');
                    $("#draw-chords").empty();
                    $("#draw-chords").append('<span class="col-md-3 col-xs-6 jtab chordonly left">' + txtChords + '</span>');
                    var showChords = $("#draw-chords");
                    var currentChords = $(this);
                    setTimeout(function () {
                        var positionChords = currentChords.offset();
                        showChords.css({
                            position: "absolute",
                            top: positionChords.top - 250 + "px",
                            left: positionChords.left - 70 + "px"
                        }).show();

                        jtab.renderimplicit();
                    },300);

                }).mouseleave(function () {
                    setTimeout(function () {
                        $("#draw-chords").hide();
                    }, 300);
                });
            </script>
        </div>
    </div>
</body>
</html>