@model HopAmNhacThanh.Models.Style
@{
    ViewData["Title"] = "Tạo mới";
    ViewData["Heading"] = "Tạo mới";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "điệu";
    ViewData["BreadcrumbThree"] = "Tạo mới";
    ViewData["BoxTitle"] = "Tạo điệu mới";
    ViewData["Search"] = "Tìm điệu";
    Layout = "_CreateLayout";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Slug" class="control-label"></label>
            <input asp-for="Slug" class="form-control" />
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row col-md-6">
    <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>
</div>
