@model HopAmNhacThanh.Models.MultiPuzzle
@{
    ViewData["H1"] = "Câu hỏi theo kỳ";
    ViewData["Breadcrumb1"] = "Đố vui";
    ViewData["Breadcrumb2"] = "Quản lý";
    ViewData["Breadcrumb3"] = "Danh mục câu hỏi";
    ViewData["Title"] = "Đặt câu hỏi";
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Đặt câu hỏi</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <form asp-action="Create">
        <div class="box-body">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Slug" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Slug" class="form-control" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NumberQuestion" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NumberQuestion" class="form-control" />
                        <span asp-validation-for="NumberQuestion" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ImageID" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="ImageID" class="form-control" asp-items="ViewBag.ImageID">
                            <option disabled selected>--- Chọn ---</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Note" class="form-control" />
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer clearfix">
            <input type="submit" value="Tiếp tục" class="btn btn-success pull-right" />
        </div>
    </form>
</div>