@model HopAmNhacThanh.Areas.WebManager.ViewModels.MultiPuzzleViewModels.EditMultiPuzzleViewModel

@{
    ViewData["Title"] = "Chỉnh sửa";
    ViewData["Heading"] = "Câu đố đặc biệt";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Câu đố đặc biệt";
    ViewData["BreadcrumbThree"] = "Chỉnh sửa câu đố";
    ViewData["BoxTitle"] = "Chỉnh sửa câu đố";
    ViewData["Search"] = "Tìm câu đố";
    Layout = "_EditLayout";
}
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberQuestion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input disabled asp-for="NumberQuestion" class="form-control" />
                <span asp-validation-for="NumberQuestion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ImageID" class="form-control" asp-items="ViewBag.ImageID">
                    <option disabled selected>--- Chọn ---</option>
                </select>
                <span asp-validation-for="ImageID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Approved" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Approved" class="form-control" asp-items="ViewBag.Approved"></select>
                <span asp-validation-for="Approved" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsDeleted" />
                    <label asp-for="IsDeleted"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
    </div>

