@model HopAmNhacThanh.Areas.WebManager.ViewModels.LinkSongViewModels.CreateLinkSongViewModel
@{
    ViewData["Title"] = "Tạo mới";
    ViewData["Heading"] = "Tạo mới";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Link Song";
    ViewData["BreadcrumbThree"] = "Tạo mới";
    ViewData["BoxTitle"] = "Tạo link bài hát mới";
    ViewData["Search"] = "Tìm link song";
    Layout = "_CreateLayout";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="SongID" class="control-label"></label>
                <select asp-for="SongID" class="form-control" asp-items="ViewBag.SongID">
                    <option selected disabled>-- Chưa rõ --</option>
                </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Tone" class="control-label"></label>
                <input asp-for="Tone" class="form-control" />
                <span asp-validation-for="Tone" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SingleSongID" class="control-label"></label>
                <select asp-for="SingleSongID" class="form-control" asp-items="ViewBag.SingleSongID">
                    <option selected disabled>-- Chưa rõ --</option>
                </select>
        </div>
    </div>
</div>
