@model HopAmNhacThanh.Models.Video

@{
    ViewData["Title"] = "Chỉnh sửa";
    ViewData["Heading"] = "Video";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Thể loại";
    ViewData["BreadcrumbThree"] = "Chỉnh sửa video";
    ViewData["BoxTitle"] = "Chỉnh sửa video";
    ViewData["Search"] = "Tìm video";
    Layout = "_EditLayout";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="ID" />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SongID" class="control-label"></label>
            <select asp-for="SongID" class="form-control" asp-items="ViewBag.SongID"></select>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Link" class="control-label"></label>
            <input asp-for="Link" class="form-control" />
            <span asp-validation-for="Link" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ImageID" class="control-label"></label>
            <select asp-for="ImageID" class="form-control" asp-items="ViewBag.ImageID">
                <option selected disabled>-- Chưa chọn --</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
</div>
