@{ 
    HopAmNhacThanh.Models.CommonViewModels.CommonListViewModel list = ViewData["List"] as HopAmNhacThanh.Models.CommonViewModels.CommonListViewModel;
    HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel sidebar = ViewData["Sidebar"] as HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel;
    ViewData["Title"] = "Danh sách Album | Hợp Âm Nhạc Thánh";
    ViewData["Desciption"] = "Tổng hợp tất cả album Nhạc Thánh có hợp âm như Thánh Ca Tin Lành 1000 bài, Dâng lời ca, Tôn Vinh Chúa Hằng Hữu, và nhiều album Cơ Đốc khác nữa";
}
<div class="row">
    <div class="col-md-8" style="padding-right: 0px;">
        <div class="panel panel-primary">
            <div class="panel-heading sidebar-panel-heading">
                <h1 style="font-size: medium" class="panel-title">Danh sách nhạc sỹ</h1>
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("_CommonListPartial", list)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("SidebarCommon",sidebar)
    </div>
</div>
@section Style {
    <link href="~/css/siteCommont.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/siteCommon.min.js" asp-append-version="true"></script>
}