@model HopAmNhacThanh.Areas.WebManager.ViewModels.ChordViewModels.CreateChordViewModel
@{
    ViewData["Title"] = "Tạo mới";
    ViewData["Heading"] = "Tạo mới";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Bài hát";
    ViewData["BreadcrumbThree"] = "Tạo mới";
    ViewData["BoxTitle"] = "Tạo bài hát mới";
    ViewData["Search"] = "Tìm bài hát";
    Layout = "_CreateLayout";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="SongID" class="control-label"></label>
                <select asp-for="SongID" class="form-control" asp-items="ViewBag.SongID"></select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="InfoShort" class="control-label"></label>
                <input asp-for="InfoShort" class="form-control" />
                <span asp-validation-for="InfoShort" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="StyleID" class="control-label"></label>
                <select asp-for="StyleID" class="form-control" asp-items="ViewBag.StyleID">
                    <option disabled selected>--- Chưa rõ ---</option>
                </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Tone" class="control-label"></label>
                <input asp-for="Tone" class="form-control" />
                <span asp-validation-for="Tone" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row col-md-12">
    <div class="form-group">
        <label asp-for="Intro" class="control-label"></label>
        <textarea cols="2" rows="2" asp-for="Intro" class="form-control" ></textarea>
        <span asp-validation-for="Intro" class="text-danger"></span>
    </div>
</div>
<div class="row col-md-12">
    <div class="form-group">
        <label asp-for="Lyric" class="control-label"></label>
        <textarea cols="5" rows="5" asp-for="Lyric" class="form-control"></textarea>
            <span asp-validation-for="Lyric" class="text-danger"></span>
    </div>
</div>

<div class="row col-md-12">
    <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
            <input asp-for="Note" class="form-control" />
            <span asp-validation-for="Note" class="text-danger"></span>
    </div>
</div>