@model HopAmNhacThanh.Areas.WebManager.ViewModels.SongViewModels.CreateSongViewModel
@{
    ViewData["Title"] = "Tạo mới";
    ViewData["Heading"] = "Tạo mới";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Bài hát";
    ViewData["BreadcrumbThree"] = "Tạo mới";
    ViewData["BoxTitle"] = "Tạo bài hát mới";
    ViewData["Search"] = "Tìm bài hát";
    Layout = "_CreateLayout";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" placeholder="Ví dụ: Vững An" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="OrtherName" class="control-label"></label>
            <input asp-for="OrtherName" placeholder="Ví dụ: Still" class="form-control" />
            <span asp-validation-for="OrtherName" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="CategoryID" class="control-label"></label>
            <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="AlbumID" class="control-label"></label>
            <select asp-for="AlbumID" class="form-control" asp-items="ViewBag.AlbumID">
                <option disabled selected>--- Chưa rõ ---</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NumberSongInAlbum" class="control-label"></label>
            <input asp-for="NumberSongInAlbum" class="form-control" />
            <span asp-validation-for="NumberSongInAlbum" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="AuthorSongID" class="control-label"></label>
            <select asp-for="AuthorSongID" class="form-control" asp-items="ViewBag.AuthorSongID">
                <option disabled selected>--- Chưa rõ ---</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="VietnameseLyricID" class="control-label"></label>
            <select asp-for="VietnameseLyricID" class="form-control" asp-items="ViewBag.VietnameseLyricID">
                <option disabled selected>--- Chưa rõ ---</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="YearPublish" class="control-label"></label>
            <input asp-for="YearPublish" maxlength="4" type="number" class="form-control" />
            <span asp-validation-for="YearPublish" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Note" class="control-label"></label>
            <input asp-for="Note" class="form-control" />
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
    </div>
</div>