@model HopAmNhacThanh.Areas.WebManager.ViewModels.SongViewModels.EditSongViewModels
@{
    ViewData["Title"] = "Chỉnh sửa";
    ViewData["Heading"] = "Bài hát";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Bài hát";
    ViewData["BreadcrumbThree"] = "Chỉnh sửa bài hát";
    ViewData["BoxTitle"] = "Chỉnh sửa bài hát";
    ViewData["Search"] = "Tìm bài hát";
    Layout = "_EditLayout";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="ID" />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="OrtherName" class="control-label"></label>
            <input asp-for="OrtherName" class="form-control" />
            <span asp-validation-for="OrtherName" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Slug" class="control-label"></label>
            <input asp-for="Slug" class="form-control" />
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="CategoryID" class="control-label"></label>
            <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID">
            </select>
            <span asp-validation-for="CategoryID" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AlbumID" class="control-label"></label>
            <select asp-for="AlbumID" class="form-control" asp-items="ViewBag.AlbumID"></select>
            <span asp-validation-for="AlbumID" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="NumberSongInAlbum" class="control-label"></label>
            <input asp-for="NumberSongInAlbum" class="form-control" />
            <span asp-validation-for="NumberSongInAlbum" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AuthorSongID" class="control-label"></label>
            <select asp-for="AuthorSongID" class="form-control" asp-items="ViewBag.AuthorSongID">
                <option selected disabled>-- Chưa rõ --</option>
            </select>
            <span asp-validation-for="AuthorSongID" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="VietnameseLyricID" class="control-label"></label>
            <select asp-for="VietnameseLyricID" class="form-control" asp-items="ViewBag.VietnameseLyricID">
                <option selected disabled>-- Chưa rõ --</option>
            </select>
            <span asp-validation-for="VietnameseLyricID" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="YearPublish" class="control-label"></label>
            <input asp-for="YearPublish" type="number" maxlength="4" class="form-control" />
            <span asp-validation-for="YearPublish" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Views" class="control-label"></label>
            <input asp-for="Views" class="form-control" />
            <span asp-validation-for="Views" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Note" class="control-label"></label>
            <input asp-for="Note" class="form-control" />
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
    </div>
</div>
