@model HopAmNhacThanh.Areas.WebManager.ViewModels.SinglePuzzleViewModels.EditSinglePuzzleViewModels

@{
    ViewData["Title"] = "Chỉnh sửa";
    ViewData["Heading"] = "Câu đố";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Câu đố đơn";
    ViewData["BreadcrumbThree"] = "Chỉnh sửa câu đố";
    ViewData["BoxTitle"] = "Chỉnh sửa câu đố";
    ViewData["Search"] = "Tìm câu đố";
    Layout = "_EditLayout";
}
<div class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Slug" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Slug" class="form-control" />
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImageID" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="ImageID" class="form-control" asp-items="ViewBag.ImageID">
                <option disabled selected>--- Chọn ---</option>
            </select>
            <span asp-validation-for="ImageID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="IsYesNo" />
                <label asp-for="IsYesNo"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AnswerA" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AnswerA" class="form-control" />
            <span asp-validation-for="AnswerA" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AnswerB" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AnswerB" class="form-control" />
            <span asp-validation-for="AnswerB" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AnswerC" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AnswerC" class="form-control" />
            <span asp-validation-for="AnswerC" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AnswerD" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AnswerD" class="form-control" />
            <span asp-validation-for="AnswerD" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Correct" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Correct" class="form-control" />
            <span asp-validation-for="Correct" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Reason" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Reason" class="form-control" />
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="IsMMultiPuzzle" />
                <label asp-for="IsMMultiPuzzle"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="MultiPuzzleID" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="MultiPuzzleID" class="form-control" />
            <span asp-validation-for="MultiPuzzleID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Approved" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Approved" class="form-control" asp-items="ViewBag.Approved"></select>
            <span asp-validation-for="Approved" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Active" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Active" class="form-control" />
            <span asp-validation-for="Active" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="TempTag" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="TempTag" class="form-control" />
            <span asp-validation-for="TempTag" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="IsDelete" />
                <label asp-for="IsDelete"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Note" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Note" class="form-control" />
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
    </div>
</div>
