@model HopAmNhacThanh.Models.Song

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Song</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrtherName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrtherName" class="form-control" />
                <span asp-validation-for="OrtherName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryID" class ="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlbumID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AlbumID" class ="form-control" asp-items="ViewBag.AlbumID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberSongInAlbum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberSongInAlbum" class="form-control" />
                <span asp-validation-for="NumberSongInAlbum" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AuthorSongID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AuthorSongID" class ="form-control" asp-items="ViewBag.AuthorSongID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VietnameseLyricID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="VietnameseLyricID" class ="form-control" asp-items="ViewBag.VietnameseLyricID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YearPublish" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="YearPublish" class="form-control" />
                <span asp-validation-for="YearPublish" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Views" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreateDT" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDT" class="form-control" />
                <span asp-validation-for="CreateDT" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDT" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDT" class="form-control" />
                <span asp-validation-for="UpdateDT" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AuthorID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AuthorID" class ="form-control" asp-items="ViewBag.AuthorID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Approved" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Approved" class="form-control" />
                <span asp-validation-for="Approved" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Active" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsDeleted" />
                    <label asp-for="IsDeleted"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
