@model List<HopAmNhacThanh.Models.SidebarViewModels.SimpleCategoryViewModel>
<div id="categoryData" class="list-group">

    @foreach (var item in Model)
    {
        <a asp-controller="category" asp-action="single" asp-route-slug="@item.Slug" class="list-group-item">
            <span class="badge">
                @item.Count
            </span><i class="fa fa-book"></i> @item.Name
        </a>
    }
</div>