@model List<HopAmNhacThanh.Models.SidebarViewModels.SimpleCategoryViewModel>
<div class="panel-heading sidebar-panel-heading">
    <h2 class="panel-title sidebar-panel-title"><a asp-controller="album" asp-action="list">Danh mục bài hát</a></h2>
</div>
<div class="panel-body">
    <div class="listMenu">
        <ul id="albumData" style="padding-left: 0px;">
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="category" asp-action="single" asp-route-slug="@item.Slug" class="">
                        <span style="float: right" class="badge">
                            @item.Count
                        </span>@*<i class="fa fa-book"></i>*@ @item.Name
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
