<div class="panel-heading sidebar-panel-heading">
    <h2 class="panel-title sidebar-panel-title"><a asp-controller="album" asp-action="list">Bài hát theo bảng chữ cái</a></h2>
</div>
<div class="panel-body">
    <style>
        #song-aphabet-widget .panel-body {
            padding: 10px 15px;
        }

        .listAphabet ul li a {
            display: block;
            padding-top: 100%;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            /*border: solid 1px #909090;*/
        }

        .listAphabet ul li {
            width: 11.11%;
            float: left;
            padding: 0 5px;
            margin-bottom: 10px;
            list-style-type: none;
        }

        .listAphabet ul {
            margin: 0 -5px;
            /*margin: 0;*/
            padding: 0;
        }

            .listAphabet ul li a span {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
            }
    </style>
    <div class="listAphabet">
        <ul>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="a"><span class="label label-info">A</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="b"><span class="label label-warning">B</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="c"><span class="label label-danger">C</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="d"><span class="label label-primary">D</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="e"><span class="label label-success">E</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="f"><span class="label label-default">F</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="g"><span class="label label-info">G</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="h"><span class="label label-warning">H</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="i"><span class="label label-danger">I</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="j"><span class="label label-primary">J</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="k"><span class="label label-success">K</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="l"><span class="label label-default">L</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="m"><span class="label label-info">M</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="n"><span class="label label-warning">N</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="o"><span class="label label-danger">O</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="p"><span class="label label-primary">P</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="q"><span class="label label-success">Q</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="r"><span class="label label-default">R</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="s"><span class="label label-info">S</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="t"><span class="label label-warning">T</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="u"><span class="label label-danger">U</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="v"><span class="label label-primary">V</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="w"><span class="label label-success">W</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="x"><span class="label label-default">X</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="y"><span class="label label-info">Y</span></a></li>
            <li><a asp-controller="Home" asp-action="Alphabet" asp-route-slug="z"><span class="label label-warning">Z</span></a></li>
        </ul>
    </div>
</div>