@{ 
    HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel sidebar = ViewData["Sidebar"] as HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel;
    HopAmNhacThanh.Models.CommonViewModels.CommonListViewModel list = ViewData["List"] as HopAmNhacThanh.Models.CommonViewModels.CommonListViewModel;

    ViewData["Title"] = "Danh sách dịch lời bài hát | Hợp Âm Nhạc Thánh";
    ViewData["Desciption"] = "Tổng hợp tất cả những người đã dịch lời bài hát Cơ Đốc";
}
<div class="row">
    <div class="col-md-8" style="padding-right: 0px;">
        <div class="panel panel-primary">
            <div class="panel-heading sidebar-panel-heading">
                <h1 style="font-size: medium" class="panel-title">Danh sách người đã dịch lời Việt</h1>
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("_CommonListPartial", list)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("SidebarCommon", sidebar)
    </div>
</div>
@section Style {
    <link href="~/css/siteCommont.min.css" rel="stylesheet" asp-append-version="true" />
}
@section Scripts {
    <script defer src="~/js/siteCommon.js" asp-append-version="true"></script>
}