@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    .navbar-default .navbar-nav > li > a {
        color: white;
    }

    .navbar-header > .navbar-brand:hover, .navbar-header > .navbar-brand:focus, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
        color: white !important;
        background-color: #0099cd !important;
    }

    .navbar-default {
        background-color: #0099cd;
        border-color: #0786c5;
    }
        .navbar-default .navbar-toggle {
            border-color: #0786c5;
            color: white;
        }

        .navbar-default .navbar-brand {
            color: #ffffff;
        }

        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            border-color: #ffffff;
        }
        
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Hợp Âm Nhạc Thánh</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-collapsible">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-controller="Category" asp-action="List"><i class="fa fa-book fa-fw fa-lg"></i> Thể loại</a>
                </li>
                @*<li>
                    <a asp-controller="Style" asp-action="List"><i class="fa fa-music fa-fw fa-lg"></i> Điệu</a>
                </li>*@
                @*<li><a href="https://hopamviet.vn/user/likes.html"><i class="fa fa-star-o fa-fw fa-lg"></i> Yêu thích</a></li>*@
                @Html.Partial("_LoginPartial")
            </ul>
            <form class="navbar-form collapsed" asp-controller="Home" asp-action="Search" method="post">
                <div class="form-group" style="display:inline;">
                    <div class="input-group" style="display:table;">
                        <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control" name="search" placeholder="Tìm kiếm theo tên, lời bài hát, ca sỹ hoặc album" autocomplete="off"  autofocus="autofocus" type="text">
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>