@using Microsoft.AspNetCore.Identity
@using HopAmNhacThanh.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        <li><a asp-area="webmanager" asp-controller="Dashboard" asp-action="index"><i class="fa fa-institution fa-fw"></i> Quản lý</a></li>
        <li><a asp-area="Autogettool" asp-controller="GetLyrics" asp-action="index"><i class="fa fa-gavel fa-fw"></i> Công cụ</a></li>
    }
}
else
{
<li><a href="" class="" data-toggle="modal" data-target="#login"><i class="fa fa-key fa-fw"></i> Đăng ký</a></li>
<li><a href="" class="" data-toggle="modal" data-target="#login"><i class="fa fa-lock fa-fw"></i> Đăng nhập</a></li>
}