@inject SignInManager<ApplicationUser>  SignInManager
   


    <div class="modal fade version-model text-center" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Đăng nhập hoặc đăng ký</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
    @{
        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();

        <form asp-area="WebManager" asp-controller="Account" asp-action="ExternalLogin" @*asp-route-returnurl="@ViewData[" ReturnUrl"]"*@ method="post">
            <div class="row">

                <div class="col-md-4">

                </div>
                @foreach (var provider in loginProviders)
                {

                    @if (provider.DisplayName == "Facebook")
                    {
                        <div class="col-md-4"> 
                            <button type="submit" style="background: #3B5998; color: white" class="btn btn-block btn-social btn-facebook btn-flat" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook"></i> @provider.AuthenticationScheme</button>
                        </div>
                    }

                }
                <div class="col-md-4">
                </div>
            </div>
        </form>
                            
                       
    }
                    </div>
                </div>
            </div>
        </div>
    </div>
