@using Microsoft.AspNetCore.Identity
@using HopAmNhacThanh.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if(SignInManager.IsSignedIn(User))
{
}
else
{ 
<li><a class="" data-toggle="modal" data-target="#login"><i class="fa fa-key fa-fw"></i> Đăng ký</a></li>
<li><a class="" data-toggle="modal" data-target="#login"><i class="fa fa-lock fa-fw"></i> Đăng nhập</a></li>
}