@model HopAmNhacThanh.Models.HomeViewModels.AddNewVersionSong
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<div class="modal fade version-model" id="add-new-version" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <form asp-action="AddNewVersionSong" asp-controller="Song" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Thêm phiên bản</h4>
                </div>
                <div class="modal-body">
@if (SignInManager.IsSignedIn(User))
{

                    <div id="thanks-new-version" style="display: none" class="alert alert-success alert-dismissable">Cảm ơn hợp âm của bạn. Chúng tôi sẽ bổ sung sớm</div>
                    <div id="form-new-version-body">
                        <div class="form-group">
                            <label for="lbADNameSong">Tên bài hát:</label>
                            <input for="adNameSong" type="text" value="@Model.Name" disabled class="form-control">
                            <input asp-for="Slug" type="hidden" />
                            <input asp-for="Url" type="hidden" />
                        </div>
                        <div class="form-group">
                            <label>Intro:</label>
                            <textarea asp-for="Intro" cols="2" rows="2" class="form-control"></textarea>
                            <span class="help-block"><em>Hợp âm phải bỏ trong dấu ngoặc vuông []</em></span>
                        </div>
                        <div class="form-group">
                            <label>Lời bài hát:</label>
                            <textarea required id="lyric-new-version" asp-for="Lyric" cols="5" rows="5" class="form-control"></textarea>
                            <span id="error-add-version" style="display: none; color:red;font-weight:bolder"><em>Vui lòng nhập lời và hợp âm bài hát</em></span>
                            <span class="help-block"><em>Hợp âm phải bỏ trong dấu ngoặc vuông []</em></span>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú:</label>
                            <textarea asp-for="Note" cols="3" rows="3" class="form-control">Link bài hát, video, và những thứ khác cứ ghi vào đây</textarea>
                        </div>
                    </div>
}
else
{
    <h5>Bạn không thể sử dụng tính năng này. Vui lòng <a class="animate" data-toggle="modal" data-target="#login"><i class="fa fa-lock fa-fw"></i> Đăng nhập</a> hoặc <a class="animate" data-toggle="modal" data-target="#login"><i class="fa fa-key fa-fw"></i> Đăng ký</a> để sử dụng tính năng này </h5>
}
                </div>
@if (SignInManager.IsSignedIn(User))
{
                <div class="modal-footer" id="form-new-version-footer">
                    <button id="new-version-submit" type="button" class="btn btn-primary">Save</button>
                </div>
}
            </div>
        </form>
    </div>
</div>
