@model HopAmNhacThanh.Models.SidebarViewModels.CommonSidebarViewModel

<style>
    .sidebar-search {
        margin-bottom: 20px;
    }
</style>
@*<div class="sidebar-search">
    <div id="search-google" class="panel panel-default">
        <div class="panel-body">
            <h2 class="text-primary" style="font-size:larger; font-weight:bold">Tìm kiếm</h2><hr />
            <script defer>
                (function () {
                    var cx = '000395357193399492958:ml90ocskuxu';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <style>
                .gsc-search-button {
                    background-color: #1a4195;
                    border-radius: 5px;
                }

                .gsc-input-box {
                    height: 30px;
                    width: 100%;
                }

                input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
                    background-color: #1a4195 !important;
                    background-image: url("https://www.google.com/uds/css/v2/search_box_icon.png") !important;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    height: 16px !important;
                    border-color: #1a4195 !important;
                    filter: none;
                }
            </style>
            <gcse:search></gcse:search>
        </div>
    </div>
</div>*@
<div id="list-album-widget" style="display:none" class="panel panel-primary">
</div>
<div id="list-category-widget" style="display:none" class="panel panel-primary">
</div>
<div id="list-rhythm-widget" style="display:none" class="panel panel-primary">
    
</div>

<div id="list-top-song-widget" style="display:none" class="panel panel-primary">
</div>

<div id="list-fanpage-facebook-widget" class="panel panel-primary">
    <div class="panel-heading sidebar-panel-heading">
        <h2 class="panel-title sidebar-panel-title">
            Tìm chúng tôi trên facebook
        </h2>
    </div>
    <div class="panel-body">
        <div class="fb-page" data-href="https://www.facebook.com/hopamnhacthanh/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/H%E1%BB%A3p-%C3%A2m-Nh%E1%BA%A1c-Th%C3%A1nh-883153405186191/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/H%E1%BB%A3p-%C3%A2m-Nh%E1%BA%A1c-Th%C3%A1nh-883153405186191/">Hợp âm Nhạc Thánh</a></blockquote></div>
    </div>
</div>
<script async src="~/js/sidebarCommon.min.js" asp-append-version="true"></script>