@model HopAmNhacThanh.Areas.WebManager.ViewModels.VietnameseLyricViewModels.CreateVietnameseLyricViewModel
@{
    ViewData["Title"] = "Tạo mới";
    ViewData["Heading"] = "Tạo mới";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "Quản lý web";
    ViewData["BreadcrumbTwo"] = "Người dịch bài hát";
    ViewData["BreadcrumbThree"] = "Tạo mới";
    ViewData["BoxTitle"] = "Tạo người dịch mới";
    ViewData["Search"] = "Tìm dịch giả";
    Layout = "_CreateLayout";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ImageID" class="control-label"></label>
            <select asp-for="ImageID" class="form-control" asp-items="ViewBag.ImageID">
                <option disabled selected>-- chưa rõ--</option>
            </select>
        </div>
    </div>
</div>
<div class="row col-md-12">
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control ckeditor"> </textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
</div>
